### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_Players = len(purchase_data)

print("Total Players")
print("_______________")
print(Total_Players)

Total Players
_______________
780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique_Items = len(pd.unique(purchase_data['Item ID']))
Average = purchase_data['Price'].mean().round(2)
Total = purchase_data['Price'].sum()


print("Number of Unique Items   Average Price  Number of Purchases  Total Revenue")
print("__________________________________________________________________________")
print("                  ", Unique_Items,"        ","$",Average, "                ", Total_Players, "    ", "$", Total)

Number of Unique Items   Average Price  Number of Purchases  Total Revenue
__________________________________________________________________________
                   179          $ 3.05                  780      $ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:


pur1 = purchase_data.reset_index().groupby(['Gender']).size().to_frame('Total Count')
pur1['Percentages of Players'] = purchase_data['Gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

pur1.head()

                       Total Count Percentages of Players
Gender
Female                         113                 14.49%
Male                           652                 83.59%
Other / Non-Disclosed           15                  1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
pur2 = purchase_data.reset_index().groupby(['Gender']).size().to_frame('Purchase Count')
pur2['Average Purchase Price'] = purchase_data.groupby('Gender') ['Price'].mean().round(2)
pur2['Total Purchase Value'] = purchase_data.groupby('Gender') ['Price'].sum().round(2)


pur2.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
labels = ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40-45"]


purchase_data["Game_group"] = pd.cut(purchase_data['Age'], bins = [0, 10, 15, 20, 25, 30, 35, 40], labels=labels)

group = purchase_data.groupby("Game_group")

print(group["Age"].count())
print((group["Age"].count()/773*100).round(2).astype(str) + '%' )

Game_group
10-14     32
15-19     54
20-24    200
25-29    325
30-34     77
35-39     52
40-45     33
Name: Age, dtype: int64
Game_group
10-14     4.14%
15-19     6.99%
20-24    25.87%
25-29    42.04%
30-34     9.96%
35-39     6.73%
40-45     4.27%
Name: Age, dtype: object

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
labels = ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40-45"]


purchase_data["Age Ranges"] = pd.cut(purchase_data['Age'], bins = [0, 10, 15, 20, 25, 30, 35, 40], labels=labels)
purchase_data["Purchase Count"] = pd.cut(purchase_data['Age'], bins = [0, 10, 15, 20, 25, 30, 35, 40], labels=labels).count()

purchase_data["Average Purchase Price"] = purchase_data["Price"].round(2)
purchase_data["Total Purchase Value"] = purchase_data["Price"]

purchase_data.groupby("Age Ranges").agg({"Purchase Count":"count", "Average Purchase Price":"mean", "Total Purchase Value":"sum"})

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Ranges
10-14                   32                3.405000                108.96
15-19                   54                2.900000                156.60
20-24                  200                3.107800                621.56
25-29                  325                3.020431                981.64
30-34                   77                2.875584                221.42
35-39                   52                2.994423                155.71
40-45                   33                3.404545                112.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
count = purchase_data[['SN', 'Price']].groupby(['SN'])['Price'].count().reset_index(name='Purchase Count').sort_values(['Purchase Count'], ascending=False)

count['Average Purchase Price'] = purchase_data.groupby('SN') ['Price'].mean().round(2)
count['Total Purchase Value'] = purchase_data.groupby('SN') ['Price'].sum().round(2)
count.head()

              SN  Purchase Count  Average Purchase Price  Total Purchase Value
360    Lisosia93               5                     NaN                   NaN
275       Iral74               4                     NaN                   NaN
246  Idastidru52               4                     NaN                   NaN
75        Asur53               3                     NaN                   NaN
274    Inguron55               3                     NaN                   NaN

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
count1 = purchase_data[['Item ID', 'Price']].groupby(['Item ID'])['Price'].count().reset_index(name='Purchase Count').sort_values(['Purchase Count'], ascending=False)
count1['Item Name'] = purchase_data.groupby('Item ID') ['Item Name']
count1['Average Purchase Price'] = purchase_data.groupby('Item ID') ['Price'].mean().round(2)
count1['Total Purchase Value'] = purchase_data.groupby('Item ID') ['Price'].sum().round(2)
count1.head()

C:\Users\jrm12\anaconda3\New folder\envs\PythonData\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

,Item ID,Purchase Count,Item Name,Average Purchase Price,Total Purchase Value
90,92,13,"(0, [Splinter, Splinter, Splinter, Splinter])",2.94,2.94
174,178,12,"(1, [Crucifer, Crucifer, Crucifer, Crucifer])",3.47,13.88
141,145,9,"(2, [Verdict, Verdict, Verdict, Verdict, Verdi...",NaN,NaN
129,132,9,"(3, [Phantomlight, Phantomlight, Phantomlight,...",1.54,9.24
105,108,9,"(4, [Bloodlord's Fetish, Bloodlord's Fetish, B...",3.03,12.12

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame